:root {
  --base-unit: 1rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --border-size-xs: 0.03125rem;
  --border-size-sm: 0.0625rem;
  --border-size-md: 0.125rem;
  --border-size-lg: 0.25rem;
  --border-size-xl: 0.5rem;
  --border-size-xxl: 1rem;
  --border-radius-xs: 0.0625rem;
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 1rem;
  --border-radius-xxl: 2rem;
  --padding-xs: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 2rem;
  --padding-xl: 4rem;
  --padding-xxl: 8rem;
  --margin-xs: 0.25rem;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
  --margin-xl: 4rem;
  --margin-xxl: 8rem;
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 2rem;
  --gap-xl: 4rem;
  --gap-xxl: 8rem;
  --transition-slow: 0.4s;
  --transition-normal: 0.3s;
  --transition-fast: 0.2s;
  --shadow-sm: 0 0 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 0 12px rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 0 18px rgba(0, 0, 0, 0.4);
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

.theme-dark {
  --primary: #E10600;
  --primary-light-2: rgb(235, 6, 0);
  --primary-light-4: rgb(245, 7, 0);
  --primary-light-6: rgb(255, 7, 1);
  --primary-light-8: rgb(255, 17, 11);
  --primary-light-10: rgb(255, 27, 21);
  --primary-light-12: rgb(255, 37, 31);
  --primary-light-14: rgb(255, 47, 41);
  --primary-light-16: rgb(255, 57, 52);
  --primary-light-18: rgb(255, 67, 62);
  --primary-light-20: rgb(255, 77, 72);
  --primary-dark-2: rgb(215, 6, 0);
  --primary-dark-4: rgb(205, 5, 0);
  --primary-dark-6: rgb(194, 5, 0);
  --primary-dark-8: rgb(184, 5, 0);
  --primary-dark-10: rgb(174, 5, 0);
  --primary-dark-12: rgb(164, 4, 0);
  --primary-dark-14: rgb(154, 4, 0);
  --primary-dark-16: rgb(143, 4, 0);
  --primary-dark-18: rgb(133, 4, 0);
  --primary-dark-20: rgb(123, 3, 0);
  --secondary: #FFFFFF;
  --secondary-light-2: rgb(255, 255, 255);
  --secondary-light-4: rgb(255, 255, 255);
  --secondary-light-6: rgb(255, 255, 255);
  --secondary-light-8: rgb(255, 255, 255);
  --secondary-light-10: rgb(255, 255, 255);
  --secondary-light-12: rgb(255, 255, 255);
  --secondary-light-14: rgb(255, 255, 255);
  --secondary-light-16: rgb(255, 255, 255);
  --secondary-light-18: rgb(255, 255, 255);
  --secondary-light-20: rgb(255, 255, 255);
  --secondary-dark-2: rgb(250, 250, 250);
  --secondary-dark-4: rgb(245, 245, 245);
  --secondary-dark-6: rgb(240, 240, 240);
  --secondary-dark-8: rgb(235, 235, 235);
  --secondary-dark-10: rgb(230, 230, 230);
  --secondary-dark-12: rgb(224, 224, 224);
  --secondary-dark-14: rgb(219, 219, 219);
  --secondary-dark-16: rgb(214, 214, 214);
  --secondary-dark-18: rgb(209, 209, 209);
  --secondary-dark-20: rgb(204, 204, 204);
  --background: #15151f;
  --background-light-2: rgb(25, 25, 37);
  --background-light-4: rgb(29, 29, 43);
  --background-light-6: rgb(33, 33, 49);
  --background-light-8: rgb(37, 37, 55);
  --background-light-10: rgb(42, 42, 61);
  --background-light-12: rgb(46, 46, 67);
  --background-light-14: rgb(50, 50, 74);
  --background-light-16: rgb(54, 54, 80);
  --background-light-18: rgb(58, 58, 86);
  --background-light-20: rgb(62, 62, 92);
  --background-dark-2: rgb(17, 17, 25);
  --background-dark-4: rgb(13, 13, 19);
  --background-dark-6: rgb(9, 9, 13);
  --background-dark-8: rgb(5, 5, 7);
  --background-dark-10: rgb(0, 0, 1);
  --background-dark-12: rgb(0, 0, 0);
  --background-dark-14: rgb(0, 0, 0);
  --background-dark-16: rgb(0, 0, 0);
  --background-dark-18: rgb(0, 0, 0);
  --background-dark-20: rgb(0, 0, 0);
  --background-secondary: #010101;
  --background-secondary-light-2: rgb(6, 6, 6);
  --background-secondary-light-4: rgb(11, 11, 11);
  --background-secondary-light-6: rgb(16, 16, 16);
  --background-secondary-light-8: rgb(21, 21, 21);
  --background-secondary-light-10: rgb(27, 27, 27);
  --background-secondary-light-12: rgb(32, 32, 32);
  --background-secondary-light-14: rgb(37, 37, 37);
  --background-secondary-light-16: rgb(42, 42, 42);
  --background-secondary-light-18: rgb(47, 47, 47);
  --background-secondary-light-20: rgb(52, 52, 52);
  --background-secondary-dark-2: rgb(0, 0, 0);
  --background-secondary-dark-4: rgb(0, 0, 0);
  --background-secondary-dark-6: rgb(0, 0, 0);
  --background-secondary-dark-8: rgb(0, 0, 0);
  --background-secondary-dark-10: rgb(0, 0, 0);
  --background-secondary-dark-12: rgb(0, 0, 0);
  --background-secondary-dark-14: rgb(0, 0, 0);
  --background-secondary-dark-16: rgb(0, 0, 0);
  --background-secondary-dark-18: rgb(0, 0, 0);
  --background-secondary-dark-20: rgb(0, 0, 0);
  --text: #AEAEAE;
  --text-light-2: rgb(179, 179, 179);
  --text-light-4: rgb(184, 184, 184);
  --text-light-6: rgb(189, 189, 189);
  --text-light-8: rgb(194, 194, 194);
  --text-light-10: rgb(200, 200, 200);
  --text-light-12: rgb(205, 205, 205);
  --text-light-14: rgb(210, 210, 210);
  --text-light-16: rgb(215, 215, 215);
  --text-light-18: rgb(220, 220, 220);
  --text-light-20: rgb(225, 225, 225);
  --text-dark-2: rgb(169, 169, 169);
  --text-dark-4: rgb(164, 164, 164);
  --text-dark-6: rgb(159, 159, 159);
  --text-dark-8: rgb(154, 154, 154);
  --text-dark-10: rgb(149, 149, 149);
  --text-dark-12: rgb(143, 143, 143);
  --text-dark-14: rgb(138, 138, 138);
  --text-dark-16: rgb(133, 133, 133);
  --text-dark-18: rgb(128, 128, 128);
  --text-dark-20: rgb(123, 123, 123);
  --info: #2D9CDB;
  --success: #31aa27;
  --warning: #F2C94C;
  --danger: #ec3939;
}

@font-face {
  font-family: "f1-bold";
  src: url("../fonts/f1-bold.ttf") format("truetype");
}
@font-face {
  font-family: "f1-regular";
  src: url("../fonts/f1-regular.ttf") format("truetype");
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  height: 4rem;
  border-bottom: var(--border-size-sm) solid var(--text-dark-20);
  padding: 0 var(--margin-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-logo {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  font-size: 1.25rem;
  color: var(--secondary);
  gap: var(--gap-sm);
}
.navbar .nav-logo img {
  height: 35%;
}
.navbar .nav-list {
  display: flex;
  gap: var(--gap-xl);
  height: 100%;
  position: relative;
}
.navbar .nav-list .nav-item {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
.navbar .nav-list .nav-item.active {
  color: var(--secondary);
}
.navbar .nav-list .nav-item.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  border: var(--border-size-sm) solid var(--primary);
}
.navbar .nav-list .nav-item:not(.active):hover {
  color: var(--secondary);
}
.navbar .nav-list .nav-item:not(.active):hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  border: var(--border-size-sm) solid var(--secondary);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: "f1-regular", sans-serif;
}

.root {
  background-color: var(--background) !important;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select,
option,
button {
  font-family: inherit;
}

/*# sourceMappingURL=styles.css.map */
