// Abstract
@import 'abstract/variables';
@import 'abstract/colors';
@import 'abstract/mixins';
@import 'abstract/fonts';

// Components

// Includes
@import 'includes/navbar';

// Sections

// Pages

// Bases
html {
    scroll-behavior: smooth;
}

body {
    padding: 4rem 0 0 0;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'f1-regular', sans-serif;
}

.root {
    background-color: var(--background) !important;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}

input,
textarea,
select,
option,
button {
    font-family: inherit;
}
