@font-face {
    font-family: 'f1-bold';
    src: url('../fonts/f1-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'f1-regular';
    src: url('../fonts/f1-regular.ttf') format('truetype');
}